In [54]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns 

%matplotlib inline

In [55]:
location = "datasets/DC_Properties.csv"
df = pd.read_csv(location)

df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [3]:
df.corr()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
Unnamed: 0,1.000000,-0.378389,-0.358454,-0.051664,-0.585978,-0.598538,0.438398,-0.115391,-0.133335,-0.043577,...,0.299741,-0.207757,0.097378,0.027510,0.141489,-0.210494,0.106993,0.161255,0.106642,-0.211284
BATHRM,-0.378389,1.000000,0.248759,0.403431,0.677751,0.655563,-0.039087,0.239797,0.269444,0.042349,...,0.121070,0.287648,0.213538,0.717903,-0.063410,0.130588,-0.184810,-0.196311,-0.184997,0.129822
HF_BATHRM,-0.358454,0.248759,1.000000,-0.151393,0.353825,0.375568,-0.009372,0.148483,0.235645,0.033270,...,-0.229586,0.212534,0.057939,0.484198,-0.020164,0.126221,-0.058719,-0.072888,-0.058819,0.126238
NUM_UNITS,-0.051664,0.403431,-0.151393,1.000000,0.524724,0.330551,-0.104280,-0.015551,-0.069551,0.019268,...,0.797330,-0.038679,NaN,NaN,-0.099460,-0.117125,0.037280,0.060408,0.037291,-0.117025
ROOMS,-0.585978,0.677751,0.353825,0.524724,1.000000,0.841309,-0.219367,0.161396,0.158847,0.039352,...,-0.042795,0.348184,0.049562,0.761722,-0.053109,0.120238,0.006756,-0.075593,0.006399,0.119712
BEDRM,-0.598538,0.655563,0.375568,0.330551,0.841309,1.000000,-0.242955,0.214655,0.168913,0.040859,...,-0.131676,0.321066,0.146936,0.721204,-0.071962,0.144971,0.028338,-0.072028,0.028024,0.144723
AYB,0.438398,-0.039087,-0.009372,-0.104280,-0.219367,-0.242955,1.000000,0.021678,0.660668,-0.011098,...,0.078079,-0.040503,0.201515,0.117381,0.175098,-0.122697,0.032979,0.115762,0.033361,-0.122607
YR_RMDL,-0.115391,0.239797,0.148483,-0.015551,0.161396,0.214655,0.021678,1.000000,0.256227,-0.001643,...,-0.094586,0.049021,0.546581,0.118424,-0.098040,0.044246,0.145658,0.069060,0.145585,0.044158
EYB,-0.133335,0.269444,0.235645,-0.069551,0.158847,0.168913,0.660668,0.256227,1.000000,0.040214,...,-0.059968,0.081796,0.246490,0.109064,0.041599,-0.082219,0.005107,0.036704,0.005332,-0.082212
STORIES,-0.043577,0.042349,0.033270,0.019268,0.039352,0.040859,-0.011098,-0.001643,0.040214,1.000000,...,0.020700,-0.009711,NaN,NaN,-0.026886,-0.003654,-0.031842,-0.025058,-0.031842,-0.003597
PRICE,0.033219,-0.006536,-0.013113,-0.000469,-0.038241,-0.043331,0.056041,0.030072,0.049627,0.042337,...,0.026404,-0.005457,-0.032988,-0.027106,0.001467,0.044505,-0.095247,-0.069743,-0.095253,0.044581
SALE_NUM,0.047972,0.068399,0.002193,0.013986,-0.034828,-0.024835,0.017096,0.157290,0.053879,0.012937,...,0.037797,-0.045083,0.026244,0.018030,-0.028697,-0.012872,-0.009749,-0.006601,-0.009677,-0.012940
GBA,-0.269501,0.682977,0.272598,0.264009,0.679725,0.631736,0.006706,0.005231,0.311207,0.056026,...,0.205906,0.432342,NaN,NaN,-0.097850,0.172897,-0.398899,-0.342124,-0.399379,0.172223
BLDG_NUM,-0.009726,-0.000207,-0.009322,0.010247,-0.003255,-0.006528,0.005310,0.002231,0.014750,-0.003790,...,0.040795,0.091614,NaN,NaN,0.000217,-0.012939,-0.000261,-0.003020,-0.000509,-0.013135
KITCHENS,-0.061138,0.423178,-0.132895,0.930610,0.525796,0.346781,-0.108947,0.003241,-0.048890,0.021013,...,0.747589,-0.023260,NaN,NaN,-0.104648,-0.106070,0.016768,0.039702,0.016675,-0.105958
FIREPLACES,0.002666,-0.001632,-0.001635,-0.030635,-0.003660,-0.004696,0.001453,0.001622,0.000097,0.033622,...,0.001800,-0.000888,0.002993,-0.003596,-0.001311,-0.000615,-0.001187,0.003275,-0.001186,-0.000616
USECODE,0.299741,0.121070,-0.229586,0.797330,-0.042795,-0.131676,0.078079,-0.094586,-0.059968,0.020700,...,1.000000,-0.145187,-0.027334,-0.035107,-0.007196,-0.111173,-0.094708,-0.003574,-0.094612,-0.111016
LANDAREA,-0.207757,0.287648,0.212534,-0.038679,0.348184,0.321066,-0.040503,0.049021,0.081796,-0.009711,...,-0.145187,1.000000,-0.014811,0.483019,0.026285,0.130343,-0.048676,-0.075557,-0.050607,0.129348
CMPLX_NUM,0.097378,0.213538,0.057939,NaN,0.049562,0.146936,0.201515,0.546581,0.246490,NaN,...,-0.027334,-0.014811,1.000000,0.094754,-0.186350,0.011032,0.206536,0.153929,0.206536,0.011032
LIVING_GBA,0.027510,0.717903,0.484198,NaN,0.761722,0.721204,0.117381,0.118424,0.109064,NaN,...,-0.035107,0.483019,0.094754,1.000000,-0.026395,0.062797,-0.041299,-0.067078,-0.041299,0.062797
ZIPCODE,0.141489,-0.063410,-0.020164,-0.099460,-0.053109,-0.071962,0.175098,-0.098040,0.041599,-0.026886,...,-0.007196,0.026285,-0.186350,-0.026395,1.000000,-0.127103,0.023430,0.090877,0.023015,-0.126776
LATITUDE,-0.210494,0.130588,0.126221,-0.117125,0.120238,0.144971,-0.122697,0.044246,-0.082219,-0.003654,...,-0.111173,0.130343,0.011032,0.062797,-0.127103,1.000000,-0.499464,-0.563457,-0.499904,0.999919
LONGITUDE,0.106993,-0.184810,-0.058719,0.037280,0.006756,0.028338,0.032979,0.145658,0.005107,-0.031842,...,-0.094708,-0.048676,0.206536,-0.041299,0.023430,-0.499464,1.000000,0.785436,0.999897,-0.499661
CENSUS_TRACT,0.161255,-0.196311,-0.072888,0.060408,-0.075593,-0.072028,0.115762,0.069060,0.036704,-0.025058,...,-0.003574,-0.075557,0.153929,-0.067078,0.090877,-0.563457,0.785436,1.000000,0.785422,-0.563861
X,0.106642,-0.184997,-0.058819,0.037291,0.006399,0.028024,0.033361,0.145585,0.005332,-0.031842,...,-0.094612,-0.050607,0.206536,-0.041299,0.023015,-0.499904,0.999897,0.785422,1.000000,-0.499799
Y,-0.211284,0.129822,0.126238,-0.117025,0.119712,0.144723,-0.122607,0.044158,-0.082212,-0.003597,...,-0.111016,0.129348,0.011032,0.062797,-0.126776,0.999919,-0.499661,-0.563861,-0.499799,1.000000

In [56]:
#make a scatterplot
sns.lmplot(x='PRICE', y='ROOMS', data=df)', y='ROOMS', data=df)

SyntaxError: invalid syntax (<ipython-input-56-458bfb1ac334>, line 3)

In [57]:
df2= df [['ZIPCODE','AYB','EYB','YR_RMDL','SALEDATE','BEDRM','ROOMS','LIVING_GBA','PRICE']]
df2

,ZIPCODE,AYB,EYB,YR_RMDL,SALEDATE,BEDRM,ROOMS,LIVING_GBA,PRICE
0,20009.0,1910.0,1972,1988.0,2003-11-25 00:00:00,4,8,NaN,1095000.0
1,20009.0,1898.0,1972,2007.0,2000-08-17 00:00:00,5,11,NaN,NaN
2,20009.0,1910.0,1984,2009.0,2016-06-21 00:00:00,5,9,NaN,2100000.0
3,20009.0,1900.0,1984,2003.0,2006-07-12 00:00:00,5,8,NaN,1602000.0
4,20009.0,1913.0,1985,2012.0,NaN,3,11,NaN,NaN
5,20009.0,1913.0,1972,NaN,2010-02-26 00:00:00,5,10,NaN,1950000.0
6,20009.0,1917.0,1957,1988.0,2011-05-02 00:00:00,2,5,NaN,NaN
7,20009.0,1906.0,1972,2011.0,2011-09-29 00:00:00,4,8,NaN,1050000.0
8,20009.0,1908.0,1967,2008.0,2018-05-03 00:00:00,3,7,NaN,1430000.0
9,20009.0,1908.0,1950,1979.0,2008-12-05 00:00:00,2,6,NaN,NaN
10,20009.0,1890.0,1954,1950.0,NaN,5,12,NaN,NaN
11,20009.0,1905.0,1950,NaN,2009-03-12 00:00:00,6,16,NaN,NaN
12,20009.0,1894.0,1963,1979.0,NaN,5,9,NaN,NaN
13,20009.0,1885.0,1963,1979.0,NaN,5,11,NaN,NaN
14,20009.0,1917.0,1967,2000.0,2011-09-30 00:00:00,3,5,NaN,1325000.0
15,20009.0,1908.0,1947,1990.0,NaN,4,9,NaN,NaN
16,20009.0,1908.0,1967,2006.0,2010-11-04 00:00:00,3,8,NaN,1240000.0
17,20009.0,1908.0,1957,1987.0,2008-05-08 00:00:00,3,6,NaN,NaN
18,20009.0,1908.0,1967,2006.0,2016-08-18 00:00:00,4,10,NaN,NaN
19,20009.0,1908.0,1969,2013.0,2001-07-23 00:00:00,3,9,NaN,592250.0
20,20009.0,1880.0,1987,2009.0,2016-01-12 00:00:00,5,14,NaN,33232.0
21,20009.0,1880.0,1969,2009.0,2014-04-30 00:00:00,3,12,NaN,NaN
22,20009.0,1880.0,1967,2010.0,2006-01-09 00:00:00,3,6,NaN,907400.0
23,20009.0,1880.0,1984,2010.0,2012-08-21 00:00:00,3,5,NaN,1065000.0
24,20009.0,1880.0,1967,2004.0,2012-07-25 00:00:00,3,8,NaN,1100000.0
25,20009.0,1880.0,1967,2010.0,1996-04-02 00:00:00,4,8,NaN,20000.0
26,20009.0,1900.0,1960,2004.0,NaN,5,10,NaN,NaN
27,20009.0,1900.0,1967,1963.0,2005-04-06 00:00:00,3,9,NaN,703700.0
28,20009.0,1900.0,1960,1960.0,2015-02-06 00:00:00,4,10,NaN,NaN
29,20009.0,1900.0,1984,2014.0,2013-12-11 00:00:00,3,11,NaN,1210000.0
...,...,...,...,...,...,...,...,...,...
158927,20001.0,1993.0,1993,1993.0,2015-10-07 00:00:00,3,6,1342.0,NaN
158928,20001.0,2013.0,2013,NaN,2017-05-24 00:00:00,2,5,1100.0,632400.0
158929,20001.0,2013.0,2013,NaN,2012-12-19 00:00:00,2,5,1130.0,574000.0
158930,20001.0,1900.0,1919,2003.0,2007-06-25 00:00:00,2,4,990.0,365000.0
158931,20001.0,1900.0,1919,2003.0,2005-07-06 00:00:00,2,4,920.0,405000.0
158932,20001.0,1900.0,1919,2003.0,2014-07-09 00:00:00,2,4,942.0,505000.0
158933,20001.0,1880.0,1919,2016.0,2017-01-12 00:00:00,2,4,795.0,520000.0
158934,20001.0,1880.0,1919,2016.0,2017-02-23 00:00:00,1,3,671.0,499900.0
158935,20001.0,1880.0,1919,2016.0,2016-12-28 00:00:00,1,3,551.0,451000.0
158936,20001.0,1880.0,1919,2016.0,2016-12-28 00:00:00,1,3,644.0,564900.0
158937,20001.0,1992.0,1992,1992.0,NaN,2,4,825.0,NaN
158938,20001.0,1992.0,1992,1992.0,2015-03-02 00:00:00,4,7,1413.0,660000.0
158939,20001.0,1992.0,1992,1992.0,2016-09-30 00:00:00,2,4,825.0,380000.0
158940,20001.0,1992.0,1992,1992.0,2008-06-04 00:00:00,4,7,1413.0,NaN
158941,20001.0,1992.0,1992,1992.0,NaN,2,4,861.0,NaN
158942,20001.0,1992.0,1992,1992.0,NaN,4,7,1492.0,NaN
158943,20001.0,2004.0,2004,2004.0,2004-11-08 00:00:00,2,5,1838.0,539000.0
158944,20001.0,2004.0,2004,2004.0,2016-07-19 00:00:00,2,5,1938.0,908500.0
158945,20001.0,1938.0,1938,2006.0,2006-07-13 00:00:00,1,3,659.0,450000.0
158946,20001.0,1938.0,1938,2006.0,2015-02-11 00:00:00,2,4,818.0,485355.0
158947,20001.0,1938.0,1938,2006.0,2008-06-30 00:00:00,2,4,809.0,320000.0
158948,20001.0,1938.0,1938,2006.0,2012-10-22 00:00:00,2,4,934.0,460000.0
158949,20001.0,1938.0,1938,2006.0,2015-06-09 00:00:00,1,4,1123.0,550000.0
158950,20001.0,1938.0,1938,2006.0,2015-12-24 00:00:00,3,5,1330.0,635000.0
158951,20001.0,1938.0,1938,2006.0,2009-11-12 00:00:00,3,5,1413.0,389000.0
158952,20001.0,1938.0,1938,2006.0,2015-04-03 00:00:00,1,3,639.0,399900.0
158953,20001.0,1938.0,1938,2006.0,2013-10-04 00:00:00,2,4,820.0,416000.0
158954,20001.0,1920.0,1920,2007.0,2008-09-30 00:00:00,2,4,1167.0,600000.0
158955,20024.0,1965.0,1965,NaN,2015-04-14 00:00:00,0,2,447.0,215100.0
158956,20024.0,1965.0,1965,NaN,2002-07-22 00:00:00,0,2,447.0,NaN

In [47]:
df3= df2.loc[(df2['PRICE'] >= 3000000) & (df['PRICE'] < 10000000)]
df3

,ZIPCODE,AYB,EYB,YR_RMDL,SALEDATE,BEDRM,ROOMS,LIVING_GBA,PRICE
250,20009.0,1897.0,1982,2006.0,2018-02-06 00:00:00,7,16,NaN,4100000.0
899,20005.0,1872.0,1972,2002.0,2018-04-23 00:00:00,5,17,NaN,4380000.0
2421,20009.0,1916.0,1984,2010.0,2017-03-10 00:00:00,4,9,NaN,3000000.0
2556,20009.0,1900.0,2000,2005.0,2014-02-14 00:00:00,8,25,NaN,8450000.0
3500,20001.0,1920.0,1969,2005.0,2004-10-22 00:00:00,4,10,NaN,3550000.0
3501,20001.0,1920.0,1980,2006.0,2004-10-22 00:00:00,4,10,NaN,3550000.0
4042,20005.0,1890.0,1983,2004.0,2012-10-18 00:00:00,7,14,NaN,3500000.0
7670,20003.0,1878.0,1987,2008.0,2017-04-07 00:00:00,5,10,NaN,3000000.0
8197,20003.0,1850.0,1992,2004.0,2003-10-20 00:00:00,4,17,NaN,3150000.0
9651,20002.0,1900.0,1987,2014.0,2015-07-02 00:00:00,5,10,NaN,3110000.0
9652,20002.0,2014.0,2016,NaN,2014-11-13 00:00:00,6,10,NaN,3000000.0
10664,20003.0,1870.0,1972,2013.0,2016-11-22 00:00:00,6,12,NaN,3100000.0
10763,20003.0,1900.0,1954,1975.0,2007-08-24 00:00:00,6,12,NaN,3000000.0
18177,20007.0,1900.0,1995,2007.0,2018-06-27 00:00:00,3,10,NaN,5000000.0
18189,20007.0,1900.0,2000,2000.0,2010-06-11 00:00:00,5,8,NaN,4000000.0
18300,20007.0,1900.0,1996,2014.0,2005-08-26 00:00:00,6,11,NaN,4500000.0
18302,20007.0,1900.0,1983,2011.0,2017-05-15 00:00:00,4,14,NaN,3450000.0
18339,20007.0,1900.0,1996,2010.0,2016-08-23 00:00:00,6,12,NaN,4925000.0
18350,20007.0,1820.0,2000,2014.0,2013-01-25 00:00:00,6,12,NaN,7550000.0
18585,20007.0,1900.0,1998,2009.0,2017-05-11 00:00:00,6,13,NaN,6750000.0
18607,20007.0,1900.0,2000,2007.0,2008-04-03 00:00:00,3,7,NaN,4200000.0
18716,20007.0,1958.0,2002,2016.0,2016-11-10 00:00:00,3,9,NaN,3750000.0
18718,20007.0,1937.0,2000,2018.0,2018-04-24 00:00:00,4,8,NaN,4750000.0
18748,20007.0,1894.0,1988,2013.0,2012-06-04 00:00:00,4,10,NaN,3025000.0
18846,20007.0,1865.0,1991,2006.0,2017-08-08 00:00:00,5,12,NaN,4700000.0
18848,20007.0,1900.0,1996,2003.0,2016-01-05 00:00:00,5,10,NaN,3950000.0
18853,20007.0,1907.0,1991,2001.0,2010-04-15 00:00:00,5,11,NaN,5450000.0
18862,20007.0,1888.0,1995,2011.0,2011-08-29 00:00:00,5,11,NaN,3150000.0
18869,20007.0,1900.0,1983,2002.0,2016-02-05 00:00:00,5,11,NaN,5700000.0
18870,20007.0,1820.0,2000,2008.0,2011-04-25 00:00:00,4,13,NaN,6750000.0
...,...,...,...,...,...,...,...,...,...
146870,20007.0,1984.0,1984,NaN,2017-01-23 00:00:00,4,8,4142.0,3850000.0
147465,20007.0,1984.0,1984,NaN,2003-01-03 00:00:00,2,10,5857.0,3150000.0
147469,20007.0,1984.0,1984,NaN,2006-06-07 00:00:00,4,5,3109.0,4150000.0
147483,20007.0,1984.0,1984,NaN,2003-12-18 00:00:00,2,15,5423.0,4000000.0
148322,20007.0,1912.0,1919,2013.0,2013-08-01 00:00:00,5,7,7164.0,4087276.0
149061,20007.0,2004.0,2004,NaN,2017-05-04 00:00:00,5,10,3887.0,6500000.0
149280,20007.0,2004.0,2004,NaN,2011-11-15 00:00:00,3,8,2994.0,4500000.0
150779,20009.0,1917.0,1917,1978.0,2011-11-22 00:00:00,2,5,2090.0,3100000.0
150780,20009.0,1917.0,1917,1978.0,2011-11-22 00:00:00,4,11,2658.0,3100000.0
150783,20009.0,1917.0,1917,1977.0,2007-05-31 00:00:00,7,11,5215.0,3225000.0
152850,20008.0,1928.0,1928,2017.0,2018-06-18 00:00:00,3,7,3288.0,3400000.0
152855,20008.0,1928.0,1928,2017.0,2016-12-05 00:00:00,2,6,3220.0,3629000.0
152856,20008.0,1928.0,1928,2017.0,2017-01-04 00:00:00,3,7,3340.0,4024000.0
152859,20008.0,1928.0,1928,2017.0,2017-11-14 00:00:00,3,7,3373.0,3388660.0
153072,20008.0,1976.0,1976,1976.0,2016-06-22 00:00:00,3,10,3577.0,3475000.0
153477,20008.0,1928.0,1928,2017.0,2017-12-21 00:00:00,3,7,3336.0,4275000.0
153480,20008.0,1928.0,1928,2017.0,2018-05-18 00:00:00,3,7,3123.0,3699000.0
153483,20008.0,1928.0,1928,2017.0,2018-05-17 00:00:00,3,8,4497.0,5995000.0
153487,20008.0,1928.0,1928,2017.0,2017-05-09 00:00:00,4,8,4403.0,8400000.0
153963,20016.0,2005.0,2005,NaN,2005-06-16 00:00:00,0,2,547.0,5394400.0
153967,20016.0,2005.0,2005,NaN,2005-06-16 00:00:00,1,4,921.0,5394400.0
153971,20016.0,2005.0,2005,NaN,2005-06-16 00:00:00,0,2,588.0,5394400.0
154210,20016.0,2005.0,2005,NaN,2005-06-16 00:00:00,2,4,1199.0,5394400.0
154214,20016.0,2005.0,2005,NaN,2005-06-16 00:00:00,1,3,743.0,5394400.0
156768,20024.0,2017.0,2017,2017.0,2017-12-28 00:00:00,3,6,2507.0,3057900.0
157001,20024.0,2017.0,2017,2017.0,2018-01-23 00:00:00,3,6,2507.0,3241400.0
157010,20024.0,2017.0,2017,2017.0,2018-02-05 00:00:00,3,6,2507.0,3302900.0
157031,20024.0,2017.0,2017,2017.0,2017-10-26 00:00:00,3,6,3174.0,3969900.0
158132,20024.0,2017.0,2017,2017.0,2017-12-22 00:00:00,3,6,2507.0,3039900.0
158818,20001.0,2013.0,2013,NaN,2014-03-19 00:00:00,2,5,2123.0,3196900.0

In [48]:
df3.corr()

,ZIPCODE,AYB,EYB,YR_RMDL,BEDRM,ROOMS,LIVING_GBA,PRICE
ZIPCODE,1.000000,0.329780,-0.156028,0.054430,-0.382793,-0.369152,-0.368240,-0.048472
AYB,0.329780,1.000000,0.320274,0.078268,-0.338182,-0.246819,-0.141221,-0.097898
EYB,-0.156028,0.320274,1.000000,0.179027,0.157183,0.122108,-0.209892,0.027831
YR_RMDL,0.054430,0.078268,0.179027,1.000000,0.040127,0.012110,0.151538,0.067782
BEDRM,-0.382793,-0.338182,0.157183,0.040127,1.000000,0.784655,0.850409,0.092456
ROOMS,-0.369152,-0.246819,0.122108,0.012110,0.784655,1.000000,0.863001,0.123349
LIVING_GBA,-0.368240,-0.141221,-0.209892,0.151538,0.850409,0.863001,1.000000,-0.085983
PRICE,-0.048472,-0.097898,0.027831,0.067782,0.092456,0.123349,-0.085983,1.000000

In [49]:
import statsmodels.formula.api as smf

In [52]:
result = smf.ols('PRICE ~ BEDRM + ROOMS + YR_RMDL + LIVING_GBA', data=df3).fit()

In [53]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.315
Model:                            OLS   Adj. R-squared:                  0.191
Method:                 Least Squares   F-statistic:                     2.532
Date:                Wed, 16 Jan 2019   Prob (F-statistic):             0.0693
Time:                        18:23:22   Log-Likelihood:                -422.06
No. Observations:                  27   AIC:                             854.1
Df Residuals:                      22   BIC:                             860.6
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   4.113e+07   5.17e+07      0.795      0.435   -6.62e+07    1.48e+08
BEDRM      -4.618e+05   5.67e+05     -0.814      0.424   -1.64e+06    7.14e+05
ROOMS      -3.455e+05   2.61e+05     -1.325      0.199   -8.86e+05    1.95e+05
YR_RMDL    -1.674e+04   2.57e+04     -0.652      0.521      -7e+04    3.65e+04
LIVING_GBA   205.4577    412.782      0.498      0.624    -650.599    1061.515
==============================================================================
Omnibus:                       11.445   Durbin-Watson:                   1.575
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               10.316
Skew:                           1.203   Prob(JB):                      0.00575
Kurtosis:                       4.839   Cond. No.                     6.22e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.22e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""